/*
 * Main Style -Login In 
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


	background: #E4E5E6;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	
}


#loginHeader hgroup{

	
}
#loginHeader h1{
	background-image: url('images/main-logo.png');
	width:300px;
	height:150px;
	/*margin-left: 520px;*/
	margin:50px auto 0;
	}

#loginHeader h2 {
	color:#165788;
	font-size: 2.0em;
	font-family: helvetica;
	text-align: center;
	padding:0;
}



#login{
	background:white;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 0 0 5px #888;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	-o-box-shadow: 0 0 5px #888;
    height: 250px;
    margin: 50px auto 0;
    padding: 20px;
    width: 450px;
    
    
    
}
