/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
	background: #ddd url(../images/bg.jpg) repeat top left;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	
	}
	

#loginWrapper {
	
		margin: 0 0 0 15%;
}	
	
#loginHeader hgroup{
	padding: 50px 0 10px
}

#loginHeader h1{
	background-image: url('../images/main-logo.png');
	width:300px;
	height:150px;
 margin: 0 0 0 34.5%;
	}

#loginHeader h2 {
	color:#165788;
	font-size: 2.0em;
	font-family: helvetica;
	text-align: center;
	padding:0;
}
	
	
#loginBox	 {
  
background:white;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0 0 1em #888;
	-moz-box-shadow: 0 0 1em #888;
	-web-box-shadow: 0 0 1em #888;
	-o-box-shadow: 0 0 1em #888;
	-ms-box-shadow: 0 0 1em #888;
    height: auto;
  margin: 0 0 0 24%;
    padding: 20px;
    width: 450px;

	
	}



/* ---Form ----*/
.login{
    margin: 20px;
    padding: 10px;
}

.loginField{
	
	border: 1px solid #999999;
	height:40px;
	width: 65%;
	padding:0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius:4px;
	background: white;
	margin-bottom:20px;
	
}


#loginName{
	font-family:Helvetica;
	font-size:0.85em;
	font-weight: 600;
	color:#888;
	text-align:center;
	
}

.button{
	background: #165788;
	border: 0 none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius:4px;
-ms-border-radius: 4px;
	clear: both;
    color: #FFFFFF;
    cursor: pointer;
	 display: block;
	 font-size: 15px;
    font-weight: bold;
    height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
   margin: 0 0 10px 75px;
    min-width: 90px;
    width: 65%;
	
}


.button:hover{
	background: #007EA3;
}



/*****HEADER FOR ALL PAGES*******/

#imgBranding{
	background-image: url('../images/main-logo.png');
	width:300px;
	height:150px;
	margin: 20px 0 10px 60px;
	}

#welcome h2 {
    color: #165788;
    font-size: 1.5em;
    font-weight: 300;
}

#welcome h3 {
    color: #165788;
    font-size: 1em;
    font-weight: 100;
}

#userMenu{
	float: right;
    height: auto;
    margin : 50px 0 0 0 ;
    position: relative;
    width: auto;
   
}


#userMenu ul li{
	float: left;
	list-style: none;
	 margin: 10px 2% 0 5%;
    padding: 5px 0 0 5px;
	margin-left:8%;
}


#userMenu ul li a{
	text-decoration: none;
	color: #165788;
	font-family: Helvetica;
	font-size: 0.80em;
	font-weight: normal;
	
}



#userMenu ul li a:hover {
	color: #007EA3;

}



.username{
 color: black;
 margin: 0 0 20% 0 ;
	
}

#userMenu  .mainLabel {
	float: left;
	font-size: 0.000em;
	margin-top:10%;	

	
}

#combo {
float: right;	
margin-top:10%;

	
}

input.combo {
	background : #165788;
  	border: 0; 
  	border-radius: 4px ;
  	-moz-border-radius: 4px;
  	-webkit-border-radius:4px;
  	-o-border-radius:4px;
  	-ms-border-radius:4px;
  	padding: 2px 4px;
  	color: white;
}


#mainNavigation {
	 height: 50px;
	width: 100%;
	background:  #165788;
	position:  relative;
	display:block;
	text-align:center;
	margin:auto;
}

#mainNavigation ul {
	list-style:none;
}

#mainNavigation li{
	display:inline-block;
	
	float:left;
	
}

#mainNavigation a{
	display:block;
	background:#165788;
	color:white;
	padding: 15px;
	border: none;
	text-decoration: none;
}

#mainNavigation a:hover {
	background:#007EA3;
	padding: 15px;
}

#mainNavigation a:active {
	background:#007EA3;
	padding: 15px;
}


#mainNavigation a.selected {
	background:#007EA3;
	padding: 15px;
}




/*---FOOTER---*/   
   
   
   
#footerMenu {
	
	height:80px;
	padding-top:40px;
}
#footerMenu    ul li {
	
	float: left;
	list-style: none;
	text-decoration:none;
	font-size: 0.75em;
	margin: 20px 20px 0 0 ;
	padding: 0px    10px;
}





#footerMenu    ul li  a {
	color: #165788;
	text-decoration:none;

}


#footerMenu   ul li  a:hover {
	color: #007EA3;
	text-decoration:none;

}


/*
 * ALL HOME STLYES APPLY HERE !!! 
 * this for the main table or main article tags 
 */



#homeWrapper {
    background: none repeat scroll 0 0 white;
    border-radius: 4px 4px 4px 4px;
    height: auto;
    margin: 20px 0 0;
    padding: 20px;
    width: auto;
}


   #homeItem {
  	border: solid 1px #ccc;
   	border-radius: 4px;
   	-moz-border-radius: 4px;
   	-webkit-border-radius: 4px;
   	-o-border-radius: 4px;
   	-ms-border-radius: 4px;
   margin: 20px 0 0 0;
    padding: 20px;
    width: auto;
    background:white;
   }
   
  /*------TABLE-------*/
 
 #search {
 	
 }
 
 #entries {
 	float: right;
 }
 
 
 th,td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.95em; 
	font-weight:100;
	color: #000000;padding:5px;
}
tr {
	border: 1px solid gray;
}
td {
	width:200px;
	padding:3px;

}
th {
	background-color:#165788 ;
	color:#ffffff;
}
table {
    border: 1pt solid gray;
}

.clickable {
	cursor:pointer;
}
.stripe1 {
    background-color:#e4e5e6;
}
.stripe2 {
    background-color: #c1e2e5;
}
.highlight {
    background-color: #007ea3;
    font-weight:bold;
} 
   
   
   

   
   /*
 * ALL ILLUSTRATION STYLES!!! 
 * this for the main table or main article tags 
 */
   
   
   #mainWrapper {
    background: none repeat scroll 0 0 white;
    border-radius: 4px 4px 4px 4px;
    height: auto;
    margin: 20px 0 0;
    padding: 20px;
    width: auto;
}

#illustrationItemTop  {
  	border: solid 1px #ccc;
   	border-radius: 4px;
   	-moz-border-radius: 4px;
   	-webkit-border-radius: 4px;
   	-o-border-radius: 4px;
   	-ms-border-radius: 4px;
   margin: 20px 0 0 0;
    padding: 20px;
    width: auto;
    background:white;
    height: 80px;
   }
   
   
   
#illustrationItem  {
  	
   	border-radius: 4px;
   	-moz-border-radius: 4px;
   	-webkit-border-radius: 4px;
   	-o-border-radius: 4px;
   	-ms-border-radius: 4px;
   margin: 20px 0 0 0;
    padding: 20px;
    width: auto;
    background:white;
   height:auto;

   }
   
   
   
  #illustrationItemBot {
  	
   margin: 10% 2% -12.5%;
    padding: 20px;
    width: 40%;
    background:white;
   	height:auto;

   } 
   
     #illustrationItemAside {
  
    padding: 20px;
    width: 40%;
    margin: 0 0 20% 54%;
    background:white;
   	height:auto;

   } 
   
   
#quotesItem{
	
	  	
   	border-radius: 4px;
   	-moz-border-radius: 4px;
   	-webkit-border-radius: 4px;
   	-o-border-radius: 4px;
   	-ms-border-radius: 4px;
   margin: 20px 0 0 0;
    padding: 20px;
    width: auto;
    background:white;
    height: 180px;
	
	
	
	
}
   
   
  #illustrationItemTop h2 {
	color: #165788;
    font-size: 1.5em;
    font-weight: 300;
} 
 
#illustrationItem h2 {
	color: #165788;
    font-size: 1.5em;
    font-weight: 300;
}


#benefits {


	color: #165788;
    font-size: 0.95em;
    font-weight: 300;
} 


#illustrationItem .contracts {
	width:auto;
	border: solid 1px red;
	height:auto;
	
}

.contracts-container  {
	list-style: none;
}


#insuredWrapper{
	border:solid 1px green;
	width: auto;
}
  
 .insuredned-coverage-container {
 	font-size: 0.75em;
 	list-style:none;
 	
 }
 
/*#illustrationItem .label {
	color: #007EA3 ;
}
*/

.label {
	color: #007EA3 ;
	font-size: 0.80em;

}

.Id{
background: #ccc;
}
 
 .fileds{
 padding: 5px 0 0 0;
 margin: 0 10px 0 0;
 }
 
.buttons {

	width: auto;
	margin-left: 35%;
	margin-top: 10px;
	margin-bottom:10px
 }
 

  
  .new, .print, .copy, .save, .delete, .cancel, .edit, .search {
  	background : #165788;
  	border: 0; 
  	border-radius: 4px ;
  	-moz-border-radius: 4px;
  	-webkit-border-radius:4px;
  	-o-border-radius:4px;
  	-ms-border-radius:4px;
  	padding: 4px 4px;
  	color: white;
  	
  }
   
/*   .submit {
   	background: #007EA3 ;
 }*/
   
   
.topInfoInsure {
	
	/*height:80px;
	position: relative;*/
	  margin: 5px 0 0;

    width: auto ;
}

   
  
  
  /*---Tabs---*/
 
ul.barnav,
ul.tabnav {
  margin:0;
  padding:0;
  /*background: url(nav.png) left repeat-x;*/
background: none;
  color:white;
  list-style-type: none;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  -khtml-border-radius: .2em;
  -o-border-radius-:.2em;
  -ms-border-radius:.2em;
  border-radius: .2em;
}
ul.barnav li,
ul.tabnav li {
  margin: 0;
  padding: .25em .5em;
  display: inline-block;
  border-right: 1px solid white;
}

ul.tabnav li  {
  background:#165788;
}

ul.barnav li.currLoc,
ul.tabnav li.currLoc{
 	background : #007EA3;
 	 color:black;
}
ul.barnav > li:hover ,
ul.tabnav > li:hover{

 background:#007EA3;
  color:black;
}
ul.barnav > li.destruct:hover,
ul.tabnav > li.destruct:hover {

background: #007EA3;
  color:white;
  font-weight:bold;
}

.tabContents {
  padding:.7em 1em;
  background-color:#f9fdff;
  border: 1px solid #ccc;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  -khtml-border-radius: .2em;
  -o-border-radius:.2em;
  -ms-border-radius:.2em;
  border-radius: .2em;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
}
  


#slider {
	width: 400px;
	height: 400px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}


/* Overall Wrapper */
.anythingSlider-default {
	margin: 0 auto;
	/* 45px right & left padding for the arrows, 28px @ bottom for navigation */
	padding: 0 45px 28px 45px;
}
/* slider window - top & bottom borders, default state */
.anythingSlider-default .anythingWindow {
	/*border-top: 3px solid #777;
	border-bottom: 3px solid #777; */
	border: solid 1px #ccc;
}
/* Navigation buttons + start/stop button, default state */
.anythingSlider-default .anythingControls a {
	/* top shadow */
	background: #777 url(../images/default.png) center -288px repeat-x;
	color: #000;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
/* Make sure navigation text is visible */
.anythingSlider-default .anythingControls a span {
visibility: hidden;
}
/* Navigation current button, default state */
.anythingSlider-default .anythingControls a.cur {
	background: #888;
	color: #000;
}


/* start-stop button, playing, default state */
.anythingSlider-default .anythingControls a.start-stop.playing {
	background-color: #800;
}

/* start-stop button, default hovered text color (when visible) */
/* hide nav/start-stop background image shadow on hover - makes the button appear to come forward */
.anythingSlider-default .anythingControls a.start-stop:hover,
.anythingSlider-default .anythingControls a.start-stop.hover,
.anythingSlider-default .anythingControls a.start-stop .anythingControls ul a:hover {
	background-image: none;
	color: #ddd;
}

/*
 =================================
 Active State (has keyboard focus)
 =================================
*/
/* slider window - top & bottom borders, active state */
.anythingSlider-default.activeSlider .anythingWindow {
/*	border-color: #ccc; */
}
/* Navigation buttons, active state */
.anythingSlider-default.activeSlider .anythingControls a {
	/* background image = top shadow */
	background-color: #165788 ;
}
/* Navigation current & hovered button, active state */
.anythingSlider-default.activeSlider .anythingControls a.cur,
.anythingSlider-default.activeSlider .anythingControls a:hover {
	/* background image removed */
	/*background: #7C9127;*/
	background: #007EA3 ;
}




/************************
  NAVIGATION POSITIONING
 ************************/
/* Navigation Arrows */
.anythingSlider-default .arrow {
	top: 50%;
	position: absolute;
	display: block;
}

.anythingSlider-default .arrow a {
	display: block;
	width: 45px;
	height: 140px;
	margin: -70px 0 0 0; /* half height of image */
	text-align: center;
	outline: 0;
	background: url(../images/default.png) no-repeat;
}

/* back arrow */
.anythingSlider-default .back { left: 0; }
.anythingSlider-default .back a { background-position: left top; }
.anythingSlider-default .back a:hover,
.anythingSlider-default .back a.hover { background-position: left -140px; }
/* forward arrow */
.anythingSlider-default .forward { right: 0; }
.anythingSlider-default .forward a { background-position: right top; }
.anythingSlider-default .forward a:hover,
.anythingSlider-default .forward a.hover { background-position: right -140px; }

/* Navigation Links */
.anythingSlider-default .anythingControls { outline: 0; display: none; }
.anythingSlider-default .anythingControls ul { margin: 3% 2% 0 40%; padding: 0; float: left; }
.anythingSlider-default .anythingControls ul li { display: inline; }
.anythingSlider-default .anythingControls ul a {
	display: inline-block;
	text-decoration: none;
	/*padding: 2px 4px;*/
	padding: 1px 2px;
	height: 10px;
	margin: 0 5px 0 0;
	text-align: center;
	outline: 0;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

/* navigationSize window */
.anythingSlider-default .anythingControls .anythingNavWindow {
	overflow: hidden;
	float: left;
}


/***********************
  IE8 AND OLDER STYLING
 ***********************/

/* Navigation Arrows */
.as-oldie .anythingSlider-default .arrow {
	top: 30%;
}
.as-oldie .anythingSlider-default .arrow a {
	margin: 0;
}

/* margin between nav buttons just looks better */
.as-oldie .anythingSlider-default .anythingControls li {
	margin-left: 3px;
}

/* When using the navigationSize option, the side margins need to be zero
	None of the navigation panels look good in IE7 now =( */
.as-oldie .anythingSlider-default .anythingControls a {
	margin: 0;
}
.as-oldie .anythingSlider-default .anythingNavWindow {
	margin: 0 2px;
}
.as-oldie .anythingSlider-default .anythingNavWindow li {
	padding: 3px 0 0 0;
}

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper */
.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
}
/* anythingSlider viewport window */
.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* anythingSlider base (original element) */
.anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

/* Navigation arrow text; indent moved to span inside "a", for IE7;
  apparently, a negative text-indent on an "a" link moves the link as well as the text */
.anythingSlider .arrow span {
	display: block;
	visibility: hidden;
}
/* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
.anythingSlider .arrow.disabled {
	display: none;
}
/* all panels inside the slider; horizontal mode */
.anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
/* vertical mode */
.anythingSlider .vertical .panel {
	float: none;
}
/* fade mode */
.anythingSlider .fade .panel {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
/* fade mode active page - visible & on top */
.anythingSlider .fade .activePage {
	z-index: 0;
}

/***********************
  RTL STYLING
 ***********************/
/* slider autoplay right-to-left, reverse order of nav links to look better */
.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
.anythingSlider.rtl .anythingControls ul { float: left; } /* move nav link group to left */
.anythingSlider.rtl .anythingControls ul a { float: right; } /* reverse order of nav links */
.anythingSlider.rtl .start-stop { /* float: right; */ } /* move start/stop button - in case you want to switch sides */

/* probably not necessary, but added just in case */
.anythingSlider,
.anythingSlider .anythingWindow,
.anythingSlider .anythingControls ul a,
.anythingSlider .arrow a,
.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}














































/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}